<h1>Listing searches</h1>

<table>
  <thead>
    <tr>
      <th>Keywords</th>
      <th>Category</th>
      <th>Minimum price</th>
      <th>Maximum price</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.keywords %></td>
        <td><%= search.category_id %></td>
        <td><%= search.minimum_price %></td>
        <td><%= search.maximum_price %></td>
        <td><%= search.area %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
