<div class="row">
  <div class="large-6 columns">
    <h1>Hairdresser Search</h1>
    <%= form_for @search do |f| %>
      <div class="field">
        <%= f.label :area %><br />
        <%= f.select :area,[["Downtown", "Downtown"], ["NorthYork", "NorthYork"],["Germany", "Germany"],["France", "France"],["All locations", ""]]%>
      </div>
        <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>


      <div class="field">
        Perm Price Under <%= f.select :perm_price, [[10, 10], [20,20],[30, 30],[40, 40],[50,50],["no select",""]] %>  
      </div>   
      <div class="field">
        Perm Price Over <%= f.select :perm_price_min, [[0, 0],[10, 10], [20,20],[30, 30],[40, 40],[50,50],["no select",""]] %>  
      </div>   
     
     
      <div class="field">
        Cut Price Under <%= f.select :cut_price, [[10, 10], [20,20],[30, 30],[40,40],[50,50],["no select",""]] %>
      </div>
      <div class="field">
        Cut Price Over <%= f.select :cut_price_min, [[0, 0],[10, 10], [20,20],[30, 30],[40,40],[50,50],["no select",""]] %>
      </div>


      <div class="field">
        Treatment Price Under <%= f.select :treatment_price, [[10, 10], [20,20],[30, 30],[40,40],[50,50],["no select",""]] %>
      </div>
       <div class="field">
        Treatment Price Over <%= f.select :treatment_price_min, [[0,0],[10, 10], [20,20],[30, 30],[40,40],[50,50],["no select",""]] %>
      </div>
              <%= f.hidden_field :search_type, :value => "Hairdressers" %>

      <div class="actions"><%= f.submit "search" %></div>

      <% end %>
  </div>

  <div class="large-6 columns">
     <h1>Picture Search</h1>
     <%= form_for @search do |f| %>
        <div class="field">
        <%= f.label "Name of Hairdresser" %><br />
        <%= f.text_field :first_name %>
      </div>
       <div class="field">
        <%= f.label :Category %><br />
        <%= f.text_field :name %>
      </div>
      <p>Ex)Short, Long, Medium </p>
                    <%= f.hidden_field :search_type, :value => "Pictures" %>

      <div class="actions"><%= f.submit "search" %></div>
      <% end %>
  </div>
</div>