<div class="landing">
<div class="row searchbar">
  <br>
  <div class = "small-12 columns text-center">
<ul class="tabs" data-tab role="tablist">
  
  <li class="tab-title active" role="presentational" >
    <a href="#panel2-1" role="tab" tabindex="0"aria-selected="true" controls="panel2-2">
      Search Hairstyles</a>
    </li>
  <li class="tab-title" role="presentational" >
    <a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" controls="panel2-1">
      Search Hairdressers</a>
    </li>
</ul>    
</div>

<div class="tabs-content criteria">

  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-1">
    <div class = "small-12 columns text-center">
    <%= form_for @search, :remote => true do |f| %>
            <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :area %><br />
        <%= f.select :area, [["All locations", ""],["Downtown", "Downtown"], ["Northyork", "Northyork"],["Mississauga", "Mississauga"],["Hamilton", "Hamilton"]]%>
      </div>
      <!--  <div class="field">
        <%= f.label :style %><br />
        <%= f.select :style, [["All", ""],["Cut for female", "Cut for female"], ["Treatment", "Treatment"],["Color", "Color"],["Blow dry", "Blow dry"]]%>
      </div>
      <div class="field">
        <%= f.label :perm_price %><br />
        <%= f.select :perm_price, [["All", ""],["30", "30"], ["40","40"],["50", "50"],["70", "70"],["90", "90"],["100","100"]]%>
      </div>   

      <div class="field">
        <%= f.label :cut_price %><br />
        <%= f.select :cut_price, [["All", ""],["30", "30"], ["40","40"],["50", "50"],["70", "70"],["90", "90"],["100","100"]]%>
      </div>

      <div class="field">
        <%= f.label :treatment_price %><br />
        <%= f.select :treatment_price, [["All", ""],["30", "30"], ["40","40"],["50", "50"],["70", "70"],["90", "90"],["100","100"]]%>
      </div> -->
              <%= f.hidden_field :search_type, :value => "Hairdressers" %>

      <div class="actions "><%= f.button "search"%></div>
</a>
      <% end %>
    </div>
  </section>
 <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-2">
    <div class = "small-12 columns text-center">
     <%= form_for @search, :remote => true do |f| %>
    
       <div class="field">
      
        <%= f.text_field :name, :placeholder => "e.g long, curly, short" %>
      </div>
                    <%= f.hidden_field :search_type, :value => "Pictures" %>

      <div class="actions">
        <%= f.button "search" %></div>
      <% end %>
    </div>   
  </div>
  </section>

</div>
</div>
<div id="searchContainer"></div>
<div id="searchContainer"></div>
  <div class="row fullWidth text-center mainbody">
    <div class="large-12 columns">
       <div class="large-3 small-3 columns">
     <div class="circle"><h1>Find Styles</h1>
      <h3>Discover your next haircut by browing our gallery of models. See who cut their hair, and schedule an appointment with their stylist.</h3></div>
   </div>
   <div class="large-3 small-3 columns">
     <div class="circle"><div><h1>Search Hairdressers</h1>
      <h3>Find local hairdressers. Sort by price, service and availability. Rate and review their cuts.</h3></div></div>
    </div>
    <div class="large-3 small-3 columns">
     <div class="circle"><div><h1>Schedule Appointments</h1>
      <h3>Find freelance stylists who work outside a salon, get your hair styled at the last minute, any time of the day.</h3></div></div>
    </div>
   <div class="large-3 small-3 columns">
     <div class="circle"><div><h1>In-Home Cuts</h1>
      <h3>Verifid stylists will cut your hair at home.</h3></div></div>
    </div> 
  </div>
</div>

