

<div class="landing">
<div class="row searchbar">
<h4>日本人美容関係者さん検索サイト！</h4>
<h4>無料相談受付中！</h4>
  <br>
  <div class = "small-12 columns text-center">
<ul class="tabs" data-tab role="tablist">
  
  <li class="tab-title active" role="presentational" >
    <a href="#panel2-2" role="tab" tabindex="0"aria-selected="true" controls="panel2-2">
      写真から検索</a>
    </li>
  <li class="tab-title" role="presentational" >
    <a href="#panel2-1" role="tab" tabindex="0" aria-selected="false" controls="panel2-1">
      プロフェッショナル検索</a>
    </li>
</ul>    
</div>

<style>
p { color: black;
    font-weight: bold ;  
    
}
h1 {
  color: white;
  font-weight: bold  
}
h4 {
  color: white;
  font-weight: bold  
}
hr {
  border-width: 10px;
}
h3 {
  text-align: center;
}

.contents {
  background-color: white
}
</style>




<div class="tabs-content criteria">
  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-1">
    <div class = "small-12 columns text-center">
    <%= form_for @search, :remote => true do |f| %>
           
      <div class="field">
        <p> 職種から探す<br /></p>
        <%= f.select :area, [["All", ""],["Hairdresser", "Hairdresser"], ["Nailist", "Nailist"],["Eyelash", "Eyelash"],["Massage", "Massage"]]%>
      </div>
      <!--  <div class="field">
        <%= f.label :style %><br />
        <%= f.select :style, [["All", ""],["Cut for female", "Cut for female"], ["Treatment", "Treatment"],["Color", "Color"],["Blow dry", "Blow dry"]]%>
      </div>
      <div class="field">
        <%= f.label :perm_price %><br />
        <%= f.select :perm_price, [["All", ""],["30", "30"], ["40","40"],["50", "50"],["70", "70"],["90", "90"],["100","100"]]%>
      </div>   

      <div class="field">
        <%= f.label :cut_price %><br />
        <%= f.select :cut_price, [["All", ""],["30", "30"], ["40","40"],["50", "50"],["70", "70"],["90", "90"],["100","100"]]%>
      </div>

      <div class="field">
        <%= f.label :treatment_price %><br />
        <%= f.select :treatment_price, [["All", ""],["30", "30"], ["40","40"],["50", "50"],["70", "70"],["90", "90"],["100","100"]]%>
      </div> -->

      <div class="actions "><%= f.button "search"%></div>
              <%= f.hidden_field :search_type, :value => "Hairdressers" %>
</a>
      <% end %>
    </div>
      <p>検索ボックスを押してみて下さい。全てのプロフェッショナル出てきます。</p>
     
  </section>
 <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-2">
    <div class = "small-12 columns text-center">
     <%= form_for @search, :remote => true do |f| %>
    
      <!--  <div class="field">
      
        <%= f.text_field :name, :placeholder => "e.g long, curly, short" %>
      </div> -->
                    <%= f.hidden_field :search_type, :value => "Pictures" %>

      <div class="actions">
        <%= f.button "search" %></div>
      <% end %> 
    </div>   
<p>~ 使い方 ~ </p>
<p>1 Search を押してみて下さい。</p><p>2 過去作品が全部出てきます。</p>
<p>3 写真クリックで、経歴やその方の過去作品が見れます。</p>
<p>＊プロフェッショナルを直接探したい場合、上のタブから選択して下さい。</p>
  </div>
  </section>

</div>
</div>
<div class="contents">
<div id="searchContainer"></div>
<div id="searchContainer"></div>
    <br>

<!-- <div class="row">
          <h3>カテゴリーから探す。</h3>
        <hr>
          <h4>・<%= link_to '女性カット', '/categories/2' %>・<%= link_to '男性カット', '/categories/1' %>・<%= link_to '縮毛', '/categories/3' %>・<%= link_to 'カラー', '/categories/4' %>・<%= link_to '根元カラー', '/categories/10' %>・<%= link_to 'Make Up', '/categories/5' %>・<%= link_to 'Blow & Dry', '/categories/6' %>・<%= link_to 'ネイル', '/categories/7' %>・<%= link_to 'パーマ', '/categories/9' %>・<%= link_to 'ヘアセット', '/categories/11' %>・<%= link_to 'マツエク', '/categories/12' %>・<%= link_to 'Massage', '/categories/13' %>・<%= link_to 'その他', '/categories/9' %>
        <div class="large-12 columns">
          </h4>
          <i class="fi-social-twitter"></i>
        </div>
        <div class="large-4 columns">

         
      </div> -->
  
      <footer class="row">
          <div class="large-12 columns">
          
            <div class="row">
              <div class="large-6 columns">
                <p>© Airsalon</p>
              </div>
            
            </div>
          </div>
      </footer>
</div>          


