<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :area %><br />
    
    <%= f.select :area, [["Downtown", "Downtown"], ["NorthYork", "NorthYork"],["Germany", "Germany"],["France", "France"],["All location", ""]]%>
     
  </div>
    <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  

 <div class="actions"><%= f.submit "search" %></div>
<% end %>