<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
    <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
   <div class="field">
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </div>
   <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>


 <div class="actions"><%= f.submit "search" %></div>
<% end %>