

<div class="page-header">
  <h1>Appointment</h1>
</div>
 
<%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
  <table class="table">
    
     Hi! <%= @inquiry.name %>, This is your Details.
    <tr>
      <td>
        <%= f.hidden_field :message %>
        <%= simple_format(@inquiry.message) %>
      </td>
    </tr>
  </table>
  <%= f.submit 'Submit', :class => 'btn btn-primary' %>
<% end %>