

<div class="page-header">
  <h1>Appointment</h1>
</div>
 
<%= form_for @appointment, :url => appointment_thanks_path do |f| %>
  <table class="table">
    
     Hi! <%= @user_name %>, This is your Details.
    <tr>
      <td>
        <%= f.hidden_field :message %>
        <%= simple_format(@message) %>
         <%= f.hidden_field :hairdresser_email, value: @hairdresser_email %>
         <%= f.hidden_field :hairdresser_first_name, value: @hairdresser_first_name %>
      </td>
    </tr>
  </table>
  <%= f.submit 'Submit', :class => 'btn btn-primary' %>
<% end %>

