  <h1>Welcome!! <%= @hairdresser.first_name %></h1>

<%= form_for [@hairdresser, @appointment] do |f| %>
Do you accept this request?
  <%= f.submit 'Accept', class: 'btn btn-primary' %>
<% end %>

<%= form_for [@hairdresser, @appointment], :url => hairdresser_appointment_update_reject_path(@hairdresser, @appointment) do |f| %>
Do you reject this request?
  <%= f.submit 'Reject', class: 'btn btn-primary' %>
<% end %>

