<%= form_for [@hairdresser, @appointment] do |f| %>
  <div class="page-header">
    <h1>Appointment of <%= @hairdresser.first_name %></h1>
  </div>
 
  <% if @appointment.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>Input error!</strong>
      <ul>
        <% @appointment.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 
  <h1>Welcome! <%= current_user.first_name %></h1>
  <p>Please write down your appointment details!!</p>


  <%= f.text_area :message %>
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>


