<div id="welcome">
		<img src="http://pagepink.com/wp-content/uploads/2014/06/Dusol-Beauty-Hair-Salon-Korean-Hair-Stylist1.jpg"><br/>
		
	<span style="position: absolute; top: 100px; right: 150px; width: 200px;">
		<h1>Viewty Portfolios</h1>
  </span>
</div>

<%= render "about_us" %>

<div id="categories">
	<h1>Categories <small></h1>
	<ul class="small-block-grid-3">
	  <%= render @categories %>
	</ul>
</div>


<ul class="profile_pictures">
	<h1>Available Hairdressers <small></h1>
	<% @hairdressers.each do |hairdresser| %>
		<% if hairdresser.available %>
			<ul class="profile_pictures">				 
				<table>
					<li>
				  	<tr>
				    	<th><%= hairdresser.first_name %> <%= hairdresser.last_name %>,<br/><%= hairdresser.career %></th>
				  	</tr>
				  	<tr>				  
				    	<td>
			    			<% if hairdresser.picture_url == nil %>
									<%= link_to image_tag('empty_pic.png'), hairdresser %>
								<% else %>
									<%= link_to image_tag(hairdresser.picture_url(:medium)), hairdresser %>
								<% end %>
				    	</td>
				  	</tr>
				  	<tr>
				    	<td><a>Status: </a><%= hairdresser.status %></td>		
				  	</tr>	
				  </li>
				</table>			    	
			</ul>
		<% end %>	
	<% end %>
</ul>







<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->