<h1>Categories <small></h1>
<div id="categories">

<ul class="small-block-grid-3">

  <%= render @categories %>

</ul>
<div class="panel">
<h1>Available Hairdressers <small></h1>
<% @hairdressers.each do |hairdresser| %>
	<% if hairdresser.available %>
		<div class="profile_pictures">
			<table>
			  <tr>
			    <th><%= hairdresser.first_name %> <%= hairdresser.last_name %>,<br/><%= hairdresser.career %></th>
			  </tr>
			  <tr>				  
			    <td>
			    	<div class="box">
		    			<% if hairdresser.picture_url == nil %>
								<%= link_to image_tag('empty_pic.png'), hairdresser %>
							<% else %>
								<%= link_to image_tag(hairdresser.picture_url(:medium)), hairdresser %>
							<% end %>
		    		</div>
			    </td>
			  </tr>
			  <tr>
			    <td><a>Status: </a><%= hairdresser.status %></td>		
			  </tr>	
			</table>
		</div>
	<% end %>	
<% end %>
</div>
</div>


<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->