


	<p>
		<b>Career:</b>
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :career, :as => :input, :place_holder => "Click me to add content!" %></a>
		<% else %>
		<%= @hairdresser.career %>
		<% end %>
	</p>

	<p>
		<b>Salon Address:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :salon_address, :as => :input, :place_holder => "Click me to add content!" %></a>
		<% else %>
		<%= @hairdresser.salon_address %>
		<% end %>

	</p>

	<p>
		<b>Salon Website:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :salon_url, :as => :input, :place_holder => "Click me to add content!" %></a>
		<% else %>
		<%= @hairdresser.salon_url %>
		<% end %>
	</p>

	

	<p><b>Area around this station:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:area, :as => :select, :collection => {"Core Downtown" => "Core Downtown", "Finch to Eglington" => "Finch to Eglington", "Spadaina to Christie" => "Spadaina to Christie", "Others" => "Others"}, :place_holder => "Click me to add content!" %> </a>
	<% else %>
		<%= @hairdresser.area %>
<% end %>
</p>
<p>-----------------------------------</p>
<p>以下は、出張サービスの値段です。お店での値段は、直接Webサイトからご覧ください。</p>
	<p><b>Perm Price:</b>
	<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		$<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :perm_price, :as => :input, :place_holder => "Click me to add content!", :html_attrs => {:style => "width:4em" } %></a>
	<% else %>
		$<%= @hairdresser.perm_price %>
	<% end %>
</p>
	<p><b>Cut Price:</b> 
	<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
	$<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :cut_price, :as => :input, :place_holder => "Click me to add content!", :html_attrs => {:style => "width:4em" } %></a>
	<% else %>
		$<%= @hairdresser.cut_price %>
	<% end %>
</p>
	<p><b>Treatment Price:</b> 
	<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
	$<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :treatment_price, :as => :input, :place_holder => "Click me to add content!", :html_attrs => {:style => "width:4em" } %></a>
	<% else %>
		$<%= @hairdresser.treatment_price %>
	<% end %>
</p>

	<p><b>Personal message:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:personal_message, :as => :input, :place_holder => "Click me to add content!" %></a>
	<% else %>
		<%= @hairdresser.personal_message %>
<% end %>
</p>


