<div class="small-4 columns">
	<h2>Profile</h2>
	<p>
		
		<% if @hairdresser.id == current_hairdresser.id %> 
		<b>Member ID: </b>
		<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :member_ID, :type => :input, :nil => "Click me to add content!" %>
		<% end %>
	</p>

	<p>
		<b>Profession: </b>
		<% if @hairdresser.id == current_hairdresser.id %>
		<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :career, :type => :input, :nil => "Click me to add content!" %>
		<% else %>
		<%= @hairdresser.career %>
		<% end %>
	</p>

	<p>
		<b>Address:</b> 
		<% if @hairdresser.id == current_hairdresser.id %>
		<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :salon_address, :type => :input, :nil => "Click me to add content!" %>
		<% else %>
		<%= @hairdresser.salon_address %>
		<% end %>
	</p>

	<p>
		<b>Website:</b> 
		<% if @hairdresser.id == current_hairdresser.id %>
		<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :salon_url, :type => :input, :nil => "Click me to add content!" %>
		<% else %>
		<%= @hairdresser.salon_url %>
		<% end %>
	</p>

	<% @hairdresser.verified = scrape_site(@hairdresser.first_name,@hairdresser.last_name,@hairdresser.member_ID.to_s) %>
	<p>
		<b>Verified:</b> 
		<%= @hairdresser.verified %>
	</p>
	
	<p><b>Personal message:</b> 
		<% if @hairdresser.id == current_hairdresser.id %>
		<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:personal_message, :type => :input, :nil => "Click me to add content!" %></p>
	<% else %>
		<%= @hairdresser.personal_message %>
<% end %>

	<p><b>Area:</b> 
		<% if @hairdresser.id == current_hairdresser.id %>
		<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:area, :as => :select, :collection => {"Downtown" => "Downtown", "NorthYork" => "NorthYork", "Germany" => "Germany", "France" => "France"}, :nil => "Click me to add content!" %></p>
	<% else %>
		<%= @hairdresser.area %>
<% end %>


	<p><b>Hair Style:</b> 
				<% if @hairdresser.id == current_hairdresser.id %>
		<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:style, :as => :select, :collection => {"cut& style" => "cut& style", "cut" => "cut", "style" => "style", "blow dry" => "blow dry"}, :nil => "Click me to add content!" %></p>
	<% else %>
		<%= @hairdresser.style %>
	<% end %>

	<% if @hairdresser.id == current_hairdresser.id %>
	<p><b>Perm Price:</b> <%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:perm_price, :as => :select, :collection => {"10-20($)" => "10-20($)", "20-30($)" => "20-30($)", "30-40($)" => "30-40($)", "40-50($)" => "40-50($)"}, :nil => "Click me to add content!" %></p>
	<% else %>
		<%= @hairdresser.perm_price %>
	<% end %>
	<p><b>Cut Price:</b> 
				<% if @hairdresser.id == current_hairdresser.id %>
<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 


	:cut_price, :as => :select, :collection => {"10-20($)" => "10-20($)", "20-30($)" => "20-30($)", "30-40($)" => "30-40($)", "40-50($)" => "40-50($)"}, :nil => "Click me to add content!" %></p>
	<% else %>
		<%= @hairdresser.cut_price %>
	<% end %>
	<p><b>Treatment Price:</b> 
				<% if @hairdresser.id == current_hairdresser.id %>
<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:treatment_price, :as => :select, :collection => {"10-20($)" => "10-20($)", "20-30($)" => "20-30($)", "30-40($)" => "30-40($)", "40-50($)" => "40-50($)"}, :nil => "Click me to add content!" %></p>
	<% else %>
		<%= @hairdresser.treatment_price %>
	<% end %>

</div>

<% if current_hairdresser == @hairdresser %>
	<div class="small-4 columns">
		<h2>Current Status: <%= @available %></h2>
		<p><%= @hairdresser.status %></p>
		<dl class="accordion" data-accordion>
			<dd class="accordion-navigation">
	    	<a href="#panel2">Edit Status</a>
	    	<div id="panel2" class="content">
		    	<%= form_for @hairdresser do |f| %>
						<div class="field">
							<%= f.text_area :status %>
						</div>
						<h2>Available?</h2>
						<p>
							<%= f.radio_button :available, true %>Yes
							<%= f.radio_button :available, false %>No
							<div class="field">
								<%= f.submit "Submit"%>
							</div>
						</p>		
					<% end %>	
	    	</div>
	  	</dd>
	 	</dl>
	</div> <!-- closing div columns -->
<%end%>



