<div class="small-4 columns">
	<h2>Profile</h2>
	<p><b>Member ID: </b><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :member_ID, :type => :input, :nil => "Click me to add content!" %></p>
	<p><b>Profession: </b><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :career, :type => :input, :nil => "Click me to add content!" %></p>
	<p><b>Address:</b> <%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :salon_address, :type => :input, :nil => "Click me to add content!" %>
	</p>
	<p><b>Website:</b> <%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :salon_url, :type => :input, :nil => "Click me to add content!" %></p>
	<% @hairdresser.verified = scrape_site(@hairdresser.first_name,@hairdresser.last_name,@hairdresser.member_ID.to_s) %>
	<p><b>Verified:</b> <%= @hairdresser.verified %></p>
	
	<p><b>Personal message:</b> <%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:personal_message, :type => :input, :nil => "Click me to add content!" %></p>


	<p><b>Area:</b> <%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:area, :as => :select, :collection => {"1" => "Doentown", "2" => "Italy", "3" => "Germany", "4" => "France"}, :nil => "Click me to add content!" %></p>


	<p><b>Hair Style:</b> <%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:style, :as => :select, :collection => {"1" => "cut& style", "2" => "cut", "3" => "style", "4" => "blow dry", "5" => "blow dry"}, :nil => "Click me to add content!" %></p>

	<p><b>Price:</b> <%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:style, :as => :select, :collection => {"1" => "10-20($)", "2" => "20-30($)", "3" => "30-40($)", "4" => "40-50($)"}, :nil => "Click me to add content!" %></p>






</div>

<% if current_hairdresser == @hairdresser %>
	<div class="small-4 columns">
		<h2>Current Status: <%= @available %></h2>
		<p><%= @hairdresser.status %></p>
		<dl class="accordion" data-accordion>
			<dd class="accordion-navigation">
	    	<a href="#panel2">Edit Status</a>
	    	<div id="panel2" class="content">
		    	<%= form_for @hairdresser do |f| %>
						<div class="field">
							<%= f.text_area :status %>
						</div>
						<h2>Available?</h2>
						<p>
							<%= f.radio_button :available, true %>Yes
							<%= f.radio_button :available, false %>No
							<div class="field">
								<%= f.submit "Submit"%>
							</div>
						</p>		
					<% end %>	
	    	</div>
	  	</dd>
	 	</dl>
	</div> <!-- closing div columns -->
<%end%>



