<div class="small-4 columns">
	<p>
		
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<b>Member ID: </b>
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :member_ID, :as => :input, :place_holder => "Click me to add content!", :class => "" %></a>
		<% end %>
	</p>

	<p>
		<b>Profession: </b>
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :career, :as => :input, :place_holder => "Click me to add content!" %></a>
		<% else %>
		<%= @hairdresser.career %>
		<% end %>
	</p>

	<p>
		<b>Address:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :salon_address, :as => :input, :place_holder => "Click me to add content!" %></a>
		<% else %>
		<%= @hairdresser.salon_address %>
		<% end %>
	</p>

	<p>
		<b>Website:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :salon_url, :as => :input, :place_holder => "Click me to add content!" %></a>
		<% else %>
		<%= @hairdresser.salon_url %>
		<% end %>
	</p>

	<% @hairdresser.verified = scrape_site(@hairdresser.first_name,@hairdresser.last_name,@hairdresser.member_ID.to_s) %>
	<p>
		<b>Verified:</b> 
		<%= @hairdresser.verified %>
	</p>
	
	<p><b>Personal message:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:personal_message, :as => :input, :place_holder => "Click me to add content!" %></a>
	<% else %>
		<%= @hairdresser.personal_message %>
<% end %>
</p>

	<p><b>Area:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:area, :as => :select, :collection => {"Downtown" => "Downtown", "NorthYork" => "NorthYork", "Germany" => "Germany", "France" => "France"}, :place_holder => "Click me to add content!" %> </a>
	<% else %>
		<%= @hairdresser.area %>
<% end %>
</p>

	<p><b>Hair Style:</b> 
		<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
		<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, 
	:style, :as => :select, :collection => {"cut& style" => "cut& style", "cut" => "cut", "style" => "style", "blow dry" => "blow dry"}, :place_holder => "Click me to add content!" %> </a>
	<% else %>
		<%= @hairdresser.style %>
	<% end %>
	</p>

	<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
	<p><b>Perm Price:</b> 
		$<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :perm_price, :as => :input, :place_holder => "Click me to add content!", :html_attrs => {:style => "width:4em" } %></a>
	<% else %>
		$<%= @hairdresser.perm_price %>
	<% end %>
</p>
	<p><b>Cut Price:</b> 
	<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
	$<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :cut_price, :as => :input, :place_holder => "Click me to add content!", :html_attrs => {:style => "width:4em" } %></a>
	<% else %>
		$<%= @hairdresser.cut_price %>
	<% end %>
</p>
	<p><b>Treatment Price:</b> 
	<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
	$<a><%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :treatment_price, :as => :input, :place_holder => "Click me to add content!", :html_attrs => {:style => "width:4em" } %></a>
	<% else %>
		$<%= @hairdresser.treatment_price %>
	<% end %>
</p>
</div>

<% if current_hairdresser == @hairdresser %>
	<div class="small-4 columns">
		<h2>Current Status: <%= @available %></h2>
		<p><%= @hairdresser.status %></p>
		<dl class="accordion" data-accordion>
			<dd class="accordion-navigation">
	    	<a href="#panel2">Edit Status</a>
	    	<div id="panel2" class="content">
		    	<%= form_for @hairdresser do |f| %>
						<div class="field">
							<%= f.text_area :status %>
						</div>
						<h2>Available?</h2>
						<p>
							<%= f.radio_button :available, true %>Yes
							<%= f.radio_button :available, false %>No
							<div class="field">
								<%= f.submit "Submit"%>
							</div>
						</p>		
					<% end %>	
	    	</div>
	  	</dd>
	 	</dl>
	</div> <!-- closing div columns -->
<%end%>



