<div class="large-4 columns">
	<% if @hairdresser.picture_url == nil %>
		<%= image_tag 'empty_pic.png' %>
	<% else %>
		<%= image_tag @hairdresser.picture_url %>
	<% end %>

	<% if current_hairdresser == @hairdresser %>
		<%= form_for @hairdresser do |f| %>
		<div class = "small-6 columns">
			<div class="field">
				<%= f.file_field :picture %>
				<%= f.hidden_field :picture_cache %>
				<%= f.submit "Submit"%>
			</div>
		</div>
		<div class = "small-6 columns">
			<div class="field">
				
			</div>
		</div>
		<% end %>
	<% end %>
</div>