<div class="row">
	<h1>Schedule</h1>
			<table class="twelve">
		 		<tbody>
					<% @dates.each do |element|  %>
						<td>
							<%= element.strftime("%A ") %>
						<%= element.strftime("%m/%d/%Y") %></td>
						 <td></td> 
						 <td>
						 	<div class="small-10 columns">
         					 <input type="text" placeholder="Hex Value">
        					</div>
        					<div class="small-10 columns">
         					 <input type="text" placeholder="Hex Value">
        					</div>
					        
						 	<a href="#" class="tiny button">Add</a>
						 </td></tr>
					<% end %>  	
		  		</tbody>
			</table>	
		</div>	
	


<!-- 			<div class="dateselect">
 --><!-- 
				<dl class="tabs" data-tab>

				  <dd class="active">
				  	<a href="#date1">
				  		<%= @dates[0].strftime("%a") %><br>
				  		<%= @dates[0].strftime("%m/%d/%Y") %>
				  	</a></dd>
				  <dd><a href="#date1">
				  		<%= @dates[1].strftime("%a") %><br>
				  		<%= @dates[1].strftime("%m/%d/%Y") %>
				  	</a></dd>
				  <dd><a href="#date1">
				  		<%= @dates[2].strftime("%a") %><br>
				  		<%= @dates[2].strftime("%m/%d/%Y") %>
				  	</a></dd>
				  <dd><a href="#date1">
				  		<%= @dates[3].strftime("%a") %><br>
				  		<%= @dates[3].strftime("%m/%d/%Y") %>
				  	</a></dd>
				  <dd><a href="#date1">
				  		<%= @dates[4].strftime("%a") %><br>
				  		<%= @dates[4].strftime("%m/%d/%Y") %>
				  	</a></dd>
				  <dd><a href="#date1">
				  		<%= @dates[5].strftime("%a") %><br>
				  		<%= @dates[5].strftime("%m/%d/%Y") %>
				  	</a></dd>
				  <dd><a href="#date1">
				  		<%= @dates[6].strftime("%a") %><br>
				  		<%= @dates[6].strftime("%m/%d/%Y") %>
				  	</a></dd>
			<a href="#" class="button success">+</a>
				</dl>
			</div> -->

</div>

