<div class="row">
	<h1>Schedule</h1>
	<% @dates.each do |element|  %>
		<div class="row">
			<div class = "small-4 columns">
				<%= element.strftime("%A ") %>
				<%= element.strftime("%m/%d/%Y") %>
			</div>
			<div class = "small-4 columns">
				<% @appointments.each do |event| %>
					<%= event.appointment_at %>
				<% end %>
			</div>
			<div class = "small-4 columns">
				<div class='nested-fields'> 
					<%= form_for @appointments, :as => :post, :url => hairdressers_path(@hairdressers) do |f| %>
						<%= f.label :appointment_at %>
						<%= f.text_field :appointment_at %>
						<%= f.submit %>
					<% end %>
				</div>
			</div>

		</div>
	<% end %>

</div>

