<div class="row">
	<h1>Schedule</h1>
	<% @dates.each do |element|  %>

		<div class="row">

			<div class = "small-3 columns">
				<%= element.strftime("%A ") %>
				<%= element.strftime("%m/%d/%Y") %>
			</div>

			<div class = "small-6 columns">
				<% @appointments.each do |event| %>
					<% if event.appointment_at %>
						<% if event.appointment_at.day == element.day %>
							<%= event.appointment_at.strftime("%I:%M%p") %>
						<% end %>
					<% end %>
					
				<% end %>
			</div>

			<div class = "small-3 columns">
				
					<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 

					 	<%= simple_form_for [@hairdresser, @appointment] do |f| %>
						   		<%= f.input_field :appointment_at, as: :time, :style => "width: 40px;", 
						   	:default => element %>

						   	<%= f.hidden_field :message, :value => "0" %>
						   	<%= f.hidden_field :user_id, :value => "0" %>
							<%= f.submit '+', :class => 'button tiny success' %>
						<% end %>

					<% end %>	
				
			</div>
		</div>
	<% end %>
</div>