<div class="row">
	<h1>Schedule</h1>
	<% @dates.each do |element|  %>
		<div class="row">
			<div class = "small-4 columns">
				<%= element.strftime("%A ") %>
				<%= element.strftime("%m/%d/%Y") %>
			</div>
			<div class = "small-4 columns">
				<% @appointments.each do |event| %>
					<%= event.appointment_at %>
				<% end %>
			</div>
			<div class = "small-4 columns">
				<div class='nested-fields'> 
					<%= simple_form_for @hairdresser do |f| %>
						<%= f.simple_fields_for :appointments do |appointment| %>
	  					 =render "appointment_fields", :f => appointment %> 
						
					<%= link_to_add_association "Add appointment", f, :appointments %>
					<% end %>
					<% f.button :submit %>
					<% end %>
				</div>
			</div>

		</div>
	<% end %>

</div>

