<div class="row">
	<h1>Schedule</h1>
	<% @dates.each do |element|  %>
		<div class="row">
			<div class = "small-4 columns">
				<%= element.strftime("%A ") %>
				<%= element.strftime("%m/%d/%Y") %>
			</div>
			<div class = "small-4 columns">
				
			</div>
			
			
			<div class=  "small-4 columns">
				<%= form_for [@hairdresser, @appointment] do |f| %>
					<div class="field">
						<%= f.label :appointment_at %><br/>
						<%= f.text_field :appointment_at %>
					</div>
					<div class="field">
						<%= f.submit "Submit"%>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

</div>

