<style>

.mail a {
	color:red;
}
</style>



<div class="row">
	<h2>今週、出張可能な日時です。</h2>
	<p>時間をクリックして見て下さい。予約画面に移ります。</p>
	<p>詳細を記入し、送信を押すと予約通知が美容師さんに届きます。</p>
	<div class="mail">
	<p><a href="mailto:<%= @hairdresser.email %>?subject=出張の予約をお願いします。&bcc=seiun340066@gmail.com">"こちら"</a>からも<%= @hairdresser.first_name %>さんに直接メッセージを送れます。以下日程以外の出張日時を相談可能です。</p></div>
	<% @dates.each do |element|  %>
<div class = "schedule_box">
		<div class="row mainbody">
			<div class = "small-2 columns">
				<p><%= element.strftime("%A ").upcase %></p>
				<p><%= element.strftime("%m/%d/%Y") %></p>
			</div>
			

			<div class = "small-12 columns">
				<% @appointments.each do |event| %>
					<% if event.appointment_at %>
						
							<% if event.appointment_at.day == element.day %>
								<% if event.user_id != -1 %>
									<div class = "schedule_booked">
										<strike><%= "#{event.appointment_at.strftime("%I:%M%p")}" %></strike>
									</div>
								<% else %>
								<% if current_user %>
								<div class = "schedule_time">
										<%= link_to "#{event.appointment_at.strftime("%I:%M%p")}", edit_hairdresser_appointment_path(@hairdresser, event) %>
								</div>

								<% else %>
								<div class = "schedule_normal">
								<%= "#{event.appointment_at.strftime("%I:%M%p")}" %>
								</div>
								<% end %>

								<% end %>
							<% end %>
					<% end %>
				<% end %>
			</div>

			<div class = "small-3 columns">
				
					<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 

						<div class = "schedule_new">
					 	<%= simple_form_for [@hairdresser, @appointment] do |f| %>
						   		<%= f.input_field :appointment_at, as: :time, :style => "width: 40px;", 
						   	:default => element %>

						   	<%= f.hidden_field :message, :value => "0" %>
						   	<%= f.hidden_field :user_id, :value => "-1" %>
							<%= f.submit '+', :class => 'button tiny success' %>

						<% end %>
						</div>
					<% end %>	
				
				
			</div>
		</div>
	</div>
	<% end %>



</div>