<div class="panel">
	<h1>Hairdressers available after 6pm today</h1>
	<h3 id="print">You can make an appoinment on their profile page.</h3>
</div>
<% if current_hairdresser %>
	<h5>Hi <%= current_hairdresser.first_name %></h5>
	<p>Please change your status from your<%= link_to " profile page", hairdresser_path(current_hairdresser) %> !!</p>
<% end %>

<% @hairdressers.each do |hairdresser| %>
	<% if hairdresser.available %>
		<div class="profile_pictures">
			<table>
			  <tr>
			    <th><%= hairdresser.first_name %> <%= hairdresser.last_name %>,<br/><%= hairdresser.career %></th>
			  </tr>
			  <tr>				  
			    <td><div class="box"><%= link_to image_tag(hairdresser.picture_url(:medium)), hairdresser %></div></td>
			  </tr>
			  <tr>
			    <td><a>Status: </a><%= hairdresser.status %></td>		
			  </tr>	
			</table>
		</div>
	<% end %>	
<% end %>
</div>
<div class="row">
<!-- <div class="map_box">-->
	<div class="panel">
		<div class="panel" id="header_panel">
			<h3 id="map_title">Find your nearest available hairdresser</h3>
		</div>
		<%= content_tag "div", "", id: 'map-canvas', data: { coords: @coords } %>
	<!-- </div> -->
	</div>
</div>





