<div class="panel">
	<h1>Search</h1>
	<h3 id="print">You can make an appoinment on their profile page.</h3>
</div>
<% if current_hairdresser %>
	<h5>Hi <%= current_hairdresser.first_name %></h5>
	<p>Please change your status from your<%= link_to " profile page", hairdresser_path(current_hairdresser) %> !!</p>
<% end %>

<p><%= link_to "Advanced Search", new_search_path %></p>

<%= render "available_hairdressers" %>

<div class="row">
<!-- <div class="map_box">-->
	<div class="panel">
		<div class="panel" id="header_panel">
			<h3 id="map_title">Find your nearest available hairdresser</h3>
		</div>
		<%= content_tag "div", "", id: 'map-canvas', data: { coords: @coords } %>
	<!-- </div> -->
	</div>
</div>





