<h1>Listing Hairdressers available after 6pm</h1>
<h2>You can make an appoinment at their profile page.</h2>

<% if current_hairdresser %>
<h5>Hi <%= current_hairdresser.first_name %></h5>
<p>Please change your status from your<%= link_to " profile page", hairdresser_path(current_hairdresser) %> !!</p>
<% end %>

	<% @hairdressers.each do |hairdresser| %>
		<% if hairdresser.available %>
			<div class="profile_pictures">
				<table>
				  <tr>
				    <th><%= hairdresser.first_name %> <%= hairdresser.last_name %>,<br/><%= hairdresser.career %></th>
				  </tr>
				  <tr>				  
				    <td><div class="box"><%= link_to image_tag(hairdresser.picture_url(:medium)), hairdresser %></div></td>
				  </tr>
				  <tr>
				    <td><a>Status: </a><%= hairdresser.status %></td>		
				  </tr>	
				</table>
			</div>
		<% end %>	
	<% end %>




