<h1>Welcome <% @hairdresser.first_name %></h1>

<%= image_tag @hairdresser.picture_url %>

<% if current_hairdresser %>
<%= form_for @hairdresser do |f| %>
<div class="field">
	<%= f.label :picture %><br/>
	<%= f.file_field :picture %>
	<%= f.hidden_field :picture_cache %>
</div>

<div class="field">
	<%= f.submit "Submit"%>
</div>

<% end %>
<% end %>

<!-- hairdresserprofilepic -->

<% if current_user %>

	<h4>New Review</h4>

	<%= form_for [@hairdresser, @review], remote: true do |f| %>
	
		<!-- review form errors partial -->


		<div class="field">
			<%= f.label :comment %><br/>
			<%= f.text_area :comment %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
		
	<% end %>	

	<h3>Reviews</h3>

	<div id='review-list'>
		<%= render partial: 'reviews/reviews' %>
	</div>
<% else %>
	<p>Please <%= link_to "Log in", new_user_session_path %> to add a review.</p>
<% end %>



		<div style="width:330px;float:left;">
			<div id="webcam">
			</div>
			<div style="margin:5px;">
				<img src="webcamlogo.png" style="vertical-align:text-top"/>
				<select id="cameraNames" size="1" onChange="changeCamera()" style="width:245px;font-size:10px;height:25px;">
				</select>
			</div>
		</div>
		<div style="width:135px;float:left;">
			<p><button class="btn btn-small" id="btn1" onclick="base64_tofield()">Snapshot to form</button></p>
			<p><button class="btn btn-small" id="btn2" onclick="base64_toimage()">Snapshot to image</button></p>
		</div>
		<div style="width:200px;float:left;">
			<p><textarea id="formfield" style="width:190px;height:70px;"></textarea></p>
			<p><img id="image" style="width:200px;height:153px;"/></p>
		</div>
	

