
<script type="text/javascript"
src="http://code.jquery.com/jquery-1.10.1.min.js"></script>


<div class="profile">
	<div class="row mainbody">
		<div class="row">
			<script>
			// $('.highlight_on_success').bind("ajax:success", function(){$(this).closest('textile').effect('highlight'));});

</script>

<h2>

	<% if current_hairdresser && @hairdresser.id == current_hairdresser.id %> 
	<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :first_name, :as => :textarea, :place_holder => "Click me to add content!" %> 
	<%= best_in_place_if @hairdresser.id == current_hairdresser.id, @hairdresser, :last_name, :type => :textarea, :place_holder => "" %>`s profile page.
	<% else %>
	<%= @hairdresser.first_name %> <%= @hairdresser.last_name %>
	<% end %>

</h2>
<div class="large-3 small-4 columns">
	<%= render "profile_picture" %>
</div>

<%= render "hairdresser_information" %>


</div>

<style>

.mail a {
	color:red;
}


textarea {
width: 300px;
height: 10em;
}

</style>


<div class="row">
	<h2>働いている美容院の場所です。</h2>
	<div class="map_border">

		<%= content_tag "div", "", id: 'map-canvas', data: { coords: @coords } %>
	</div>
</div> 


<%= render "schedule" %>


<%= render "portfolio_uploader" %>
<div class="row">
	<h2><%= @hairdresser.first_name %>さんは、こんな髪型ができます！</h2>
	<p><%= @hairdresser.first_name %>さんが過去に担当したスタイル一覧です。</p>
</div>

<% @pictures.each do |picture| %>
<div class="hairstyle_picture">


	<div class="imgbox"><%= image_tag(picture.picture_url(:medium)) %>
		<% if current_hairdresser == @hairdresser %>
		<%= form_for picture, :html => {:multipart => true} do |f| %>
				<% if picture.picture_url() %>
					<%= f.hidden_field :remove_image %> <!-- ここのremove_image をコントローラーで受け渡している。 -->
					 <%= f.submit "Delete" %>
				<% end %>
			<% end %>
			</div>
		<% end %>

	
</div>
<% end %>
	



<% if current_user %>
<div class="large-12 columns">
	<div class="row">
		<h1>Reviews</h1>
	</div>
	<h4>New Review</h4>
	<%= form_for [@hairdresser, @review], remote: true do |f| %>

	<div id="review_form_errors">
		<% if @review.errors.any? %>
		<%= render partial: 'reviews/review_form_errors' %>
		<% end %>
	</div>

	<div class="field">
		<%= f.label :comment %><br/>
		<%= f.text_area :comment %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

	<% end %>	

	<h2>Reviews</h2>

	<div id='review-list'>
		<%= render @hairdresser.reviews %>
		
	</div>

	<% else %>
	<!-- <p>Please <%= link_to "Log in", new_user_session_path %> to add a review.</p> -->
	<% end %> <!-- ending if current user -->
	
</div> <!-- closing class profile -->
</div>