<h1>Welcome <% @hairdresser.first_name %></h1>

<%= image_tag @hairdresser.picture_url %>

<% if current_hairdresser %>
<%= form_for @hairdresser do |f| %>
<div class="field">
	<%= f.label :picture %><br/>
	<%= f.file_field :picture %>
	<%= f.hidden_field :picture_cache %>
</div>

<div class="field">
	<%= f.submit "Submit"%>
</div>

<% end %>
<% end %>

<!-- hairdresserprofilepic -->

<% if current_user %>

	<h4>New Review</h4>

	<%= form_for [@hairdresser, @review], remote: true do |f| %>
		
		<div id="review_form_errors">
      <% if @review.errors.any? %>
        <%= render partial: 'reviews/review_form_errors' %>
      <% end %>
    </div>

		<div class="field">
			<%= f.label :comment %><br/>
			<%= f.text_area :comment %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
		
	<% end %>	

	<h3>Reviews</h3>

	<div id='review-list'>
		<%= render partial: 'reviews/reviews' %>
	</div>
<% else %>
	<p>Please <%= link_to "Log in", new_user_session_path %> to add a review.</p>
<% end %>

