<!DOCTYPE html>
<html>
<head>
  <title>HairstylePortfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

	<nav>
		<%= link_to "Home", pictures_url %> |
		
			<%= link_to "Logout", :logout, method: :get %>
		
			<%= link_to "Register", new_user_path %> | 
			<%= link_to "Login", :login %>
			
		
	</nav>

	<p class="userinfo">
  <% if current_hairdresser %>
    Signed in as <%= current_hairdresser.email %>. <%= link_to "Log out hairdresser", hairdresser_session_path("current"), :method => :delete %>
  <% else %>
    <%= link_to "Log In as hairdresser", new_hairdresser_session_path %>
  <% end %>


	<div>
		<p id="notice"><%= flash[:notice] %></p>
		<p id="alert"><%= flash[:alert] %></p>
	</div>

	<%= yield %>

</body>
</html>
