<!DOCTYPE html>
<html>
<head>
  <title>HairstylePortfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

	<nav>
		<%= link_to "Home", pictures_url %> |
		<% if current_user %>
			Signed in as <%= current_user.email %> |
			<%= link_to "Logout as Customer", destroy_user_session_path, method: :delete %> |
		<% else %>
			<%= link_to "Register as Customer", new_user_registration_path %> | 
			<%= link_to "Login as Customer", new_user_session_path %>	|
		<% end %>
		<% if current_hairdresser %>
			Signed in as <%= current_hairdresser.email %> |
			<%= link_to "Logout as Hairdresser", destroy_hairdresser_session_path, method: :delete %> |
		<% else %>
			<%= link_to "Register as Hairdresser", new_hairdresser_registration_path %> | 
			<%= link_to "Login as Hairdresser", new_hairdresser_session_path %>	
		<% end %>
		
	</nav>

	<div>
		<p id="notice"><%= flash[:notice] %></p>
		<p id="alert"><%= flash[:alert] %></p>
	</div>
	
	<%= yield %>

</body>
</html>
