<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Air-Salon" %></title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api}" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link type="text/css" media="screen" rel="stylesheet" href="responsive-tables.css" />
<script type="text/javascript" src="responsive-tables.js"></script>
    <%= stylesheet_link_tag "application" %>

    <%= analytics_init if Rails.env.production? %> <!-- Google analytics -->

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "layouts/navbar" %>

  	<!-- 	<p id="notice"><%= flash[:notice] %></p>
  		<p id="alert"><%= flash[:alert] %></p>
 -->
  
     	 <%= yield %>



    <%= javascript_include_tag "application" %>
  </body>
</html>
